rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /incident_images/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.resource.size < 2 * 1024 * 1024;
    }

    match /lost_found_images/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.resource.size < 2 * 1024 * 1024;
    }

    match /past_questions/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if false;
    }
  }
}
